{
  "name": {{MARKETPLACE_NAME_JSON}},
  "owner": {
    "name": {{OWNER_JSON}},
    "url": {{OWNER_URL_JSON}}
  },
  "metadata": {
    "description": {{DESCRIPTION_JSON}},
    "version": {{VERSION_JSON}}
  },
  "plugins": [
    {
      "name": {{NAME_JSON}},
      "source": "./",
      "description": {{DESCRIPTION_JSON}},
      "version": {{VERSION_JSON}}
    }
  ]
}